.flexbox{
    background-color: aqua;
    font-size: 35px;
    display: flex;
    flex-flow: wrap row;
    justify-content:space-around;
}
.flexbox > div{

    background-color: gray;
    margin: 5px  ;
    padding: 5px;
    width: 100px;
    height: 200px;
}