.box{
    height: 400px;
    width: 400px;
   border: 15px solid green;
    margin: 100px auto;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
    display:flex;
    animation: box  1s infinite forwards  ;
}
@keyframes box{
    0% {border-color:green; transform: scale(1.3); }


    25%{border-color:rgb(233, 11, 11); transform: scale(1.4); }


    50%{border-color:rgb(23, 8, 230); transform: scale(1.5); }


    75% {border-color:rgb(159, 240, 9); transform: scale(1.6); }


    100% {border-color:rgb(230, 87, 5); transform: scale(1.7); }
}
.cercel{
    width: 200px;
    height: 200px;
    border: 5px solid red;
    animation: cercel 2s infinite alternate;
    
}
@keyframes cercel{
    0% { transform: rotate(0deg);border-width:10px ; border-color:yellow}

    25%{ transform: rotate(15deg);border-width:15px ; border-color:rgb(107, 9, 236)}

    50% { transform: rotate(30deg);border-width:12px ; border-color:rgb(240, 9, 9)}

    75% { transform: rotate(60deg);border-width:20px ; border-color:rgb(9, 226, 226)}

    100% { transform: rotate(90deg);border-width:17px ; border-color:rgb(207, 8, 247)}
}

p{
    text-align: center;
    color: red;
    font-size: 30px;
    margin: 90px auto ;
    background-color: indigo;
    width: max-content;
}